@* criando a View de Jogador *@

@model Jogador

@{
    ViewData["Title"] = "Jogador";
}

<link rel="stylesheet" href="~/css/jogadores.css">


<!-- MAIN -->

@if (ViewBag.UserName == null)
{
    <a asp-area="navbar-brand" asp-controller="Login" asp-action="Index">
        Login
    </a>

}
else
{

    <main>

        <section class="container-grid cadastro-equipes">



            <form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data" class="frm-cad-equipe">

                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>

                <select class="campo-entrada" name="idEquipe" id="equipe-select">

                    <option value="0">Selecione uma Equipe: </option>
                    
                    @foreach (Equipe equipe in ViewBag.Equipe)
                    {
                    <option value="@equipe.IdEquipe" selected>@equipe.Nome</option>
                    }

                </select>

                <input for= "Nome" class="campo-entrada" type="text" id="nome-jogador" name="Nome" placeholder="Digite o nome do Jogador:">

                <input for="E-mail" class="campo-entrada" type="email" id="email-jogador" name="Email" placeholder="Digite o Email do Jogador:">

                <input for="Senha" class="campo-entrada" type="password" id="senha" name="Senha" placeholder="Digite a Senha:">

                <button type="submit">Cadastrar</button>




            </form>


            <!-- TABELA CADASTRO DE EQUIPES -->

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Excluir</th>
                        <th>Editar</th>
                    </tr>
                </thead>

                <tbody>
                    
                    @foreach (Jogador jogador in ViewBag.Jogador)
                    {
                        <tr>
                            <td>@jogador.IdJogador</td>
                            <td>@jogador.Nome</td>
                            <td>@jogador.Email</td>
                            <td>
                                <img class="green-play" src="/img/Equipes/@jogador.Equipe.Imagem" alt="imagem da equipe @jogador.Equipe.Nome" width="50px">
                            </td>

                            <td>
                                <a asp-area="Excluir o jogador selecionada" asp-controller="Jogador" asp-action="Excluir"
                                asp-route-id="@jogador.IdJogador"><img class="green-play" src="~/assets/trash.png" alt=""></a>
                            </td>

                            <td>
                                <a asp-area="Edita o jogador eselecionado" asp-controller="Jogador" asp-action="Editar" asp-route-id = "@jogador.IdJogador"><img class="green-play" src="~/assets/lapis.png" alt=""></a>
                            </td>

                        </tr>

                    }

                </tbody>
            </table>

        </section>
    </main>
}

